/****************************************************************************/
/* Aplite Theme v1.0                                                        */
/* Created by Salted Stone                                                  */
/****************************************************************************/

/* =Variables
-------------------------------------------------------------- */
{% set primaryColor = '#4ba7e4' %} {# Please enter a hexadecimal color value here to set the primary color for your theme #}
{% set secondaryColor = '#24c4a8' %} {# Please enter a hexadecimal color value here to set the secondary color for your theme #}

/* =Fonts
-------------------------------------------------------------- */
@import url(//fonts.googleapis.com/css?family=Lato:300,400,400italic,700,700italic);

@font-face {
    font-family: 'modern_pictograms_proregular';
    src: url('//cdn2.hubspot.net/hubfs/364768/Aplite/fonts/modernpictogramspro_2.34-webfont.eot');
    src: url('//cdn2.hubspot.net/hubfs/364768/Aplite/fonts/modernpictogramspro_2.34-webfont.eot?#iefix') format('embedded-opentype'),
         url('//cdn2.hubspot.net/hubfs/364768/Aplite/fonts/modernpictogramspro_2.34-webfont.woff2') format('woff2'),
         url('//cdn2.hubspot.net/hubfs/364768/Aplite/fonts/modernpictogramspro_2.34-webfont.woff') format('woff'),
         url('//cdn2.hubspot.net/hubfs/364768/Aplite/fonts/modernpictogramspro_2.34-webfont.ttf') format('truetype'),
         url('//cdn2.hubspot.net/hubfs/364768/Aplite/fonts/modernpictogramspro_2.34-webfont.svg#modern_pictograms_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* =Reset
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption,
th,
td {
	font-weight: normal;
	text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}
html {
	overflow-y: scroll;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
a {
    text-decoration:none;
}
a:focus {
	outline: thin dotted;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block;
}
audio,
canvas,
video {
	display: inline-block;
}
audio:not([controls]) {
	display: none;
}
del {
	color: #333;
}
ins {
	background: #fff9c0;
	text-decoration: none;
}
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin: 24px;
	margin-bottom: 1.714285714rem;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
small {
	font-size: smaller;
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
    max-width:100%;
    height:auto;
}
a:focus {
	outline:none;
}

/* Clearing floats */
.manual-clear:after,
.aplite-section-title-wrap:after {
    clear: both;
}
.manual-clear:before,
.manual-clear:after,
.aplite-section-title-wrap:before,
.aplite-section-title-wrap:after {
	display: table;
	content: "";
}

/* =Sidr Styles
-------------------------------------------------------------- */
.sidr{display:none;position:absolute;position:fixed;top:0;height:100%;z-index:999999;width:260px;overflow-x:none;overflow-y:auto;font-size:15px;background:#333;color:#fff;-webkit-box-shadow:inset 0 0 5px 5px #222;-moz-box-shadow:inset 0 0 5px 5px #222;box-shadow:inset 0 0 5px 5px #222}.sidr .sidr-inner{padding:0 0 15px}.sidr .sidr-inner>p{margin-left:15px;margin-right:15px}.sidr.right{left:auto;right:-260px}.sidr.left{left:-260px;right:auto}.sidr h1,.sidr h2,.sidr h3,.sidr h4,.sidr h5,.sidr h6{font-size:11px;font-weight:normal;padding:0 15px;margin:0 0 5px;color:#fff;line-height:24px;background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4d4d4d), color-stop(100%, #1a1a1a));background-image:-webkit-linear-gradient(#4d4d4d,#1a1a1a);background-image:-moz-linear-gradient(#4d4d4d,#1a1a1a);background-image:-o-linear-gradient(#4d4d4d,#1a1a1a);background-image:linear-gradient(#4d4d4d,#1a1a1a);-webkit-box-shadow:0 5px 5px 3px rgba(0,0,0,0.2);-moz-box-shadow:0 5px 5px 3px rgba(0,0,0,0.2);box-shadow:0 5px 5px 3px rgba(0,0,0,0.2)}.sidr p{font-size:13px;margin:0 0 12px}.sidr p a{color:rgba(255,255,255,0.9)}.sidr>p{margin-left:15px;margin-right:15px}.sidr ul{display:block;margin:0 0 15px;padding:0;border-top:1px solid #1a1a1a;border-bottom:1px solid #4d4d4d}.sidr ul li{display:block;margin:0;line-height:48px;border-top:1px solid #4d4d4d;border-bottom:1px solid #1a1a1a}.sidr ul li:hover,.sidr ul li.active,.sidr ul li.sidr-class-active{border-top:none;line-height:49px}.sidr ul li:hover>a,.sidr ul li:hover>span,.sidr ul li.active>a,.sidr ul li.active>span,.sidr ul li.sidr-class-active>a,.sidr ul li.sidr-class-active>span{-webkit-box-shadow:inset 0 0 15px 3px #222;-moz-box-shadow:inset 0 0 15px 3px #222;box-shadow:inset 0 0 15px 3px #222}.sidr ul li a,.sidr ul li span{padding:0 15px;display:block;text-decoration:none;color:#fff}.sidr ul li ul{border-bottom:none;margin:0}.sidr ul li ul li{line-height:40px;font-size:13px}.sidr ul li ul li:last-child{border-bottom:none}.sidr ul li ul li:hover,.sidr ul li ul li.active,.sidr ul li ul li.sidr-class-active{border-top:none;line-height:41px}.sidr ul li ul li:hover>a,.sidr ul li ul li:hover>span,.sidr ul li ul li.active>a,.sidr ul li ul li.active>span,.sidr ul li ul li.sidr-class-active>a,.sidr ul li ul li.sidr-class-active>span{-webkit-box-shadow:inset 0 0 15px 3px #222;-moz-box-shadow:inset 0 0 15px 3px #222;box-shadow:inset 0 0 15px 3px #222}.sidr ul li ul li a,.sidr ul li ul li span{color:rgba(255,255,255,0.8);padding-left:30px}.sidr form{margin:0 15px}.sidr label{font-size:13px}.sidr input[type="text"],.sidr input[type="password"],.sidr input[type="date"],.sidr input[type="datetime"],.sidr input[type="email"],.sidr input[type="number"],.sidr input[type="search"],.sidr input[type="tel"],.sidr input[type="time"],.sidr input[type="url"],.sidr textarea,.sidr select{width:100%;font-size:13px;padding:5px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0 0 10px;-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;border-radius:2px;border:none;background:rgba(0,0,0,0.1);color:rgba(255,255,255,0.6);display:block;clear:both}.sidr input[type=checkbox]{width:auto;display:inline;clear:none}.sidr input[type=button],.sidr input[type=submit]{color:#333;background:#fff}.sidr input[type=button]:hover,.sidr input[type=submit]:hover{background:rgba(255,255,255,0.9)}

/* =Main Theme Styles
-------------------------------------------------------------- */
body {
    font-family:Lato;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    font-size: 16px;
    color: #878787;
    line-height: 28px;
}
.dhide {
    display:none;
}
.page-center {
    max-width:1140px;
    margin:0 auto;
    padding:0 9px;
}
.aplite-section-wrap {
    padding:115px 0;
}
.aplite-section-wrap-medium {
    padding:75px 0;
}
.aplite-section-wrap-thin {
    padding:50px 0;
}
.bg-primary {
    background:{{ primaryColor }};
    color:#FFF;
}
.bg-tinted-light {
    background-color:rgba({{ primaryColor|convert_rgb }}, 0.1);
}
.bg-tinted-dark {
    background-color:{{ color_variant(primaryColor, -160) }};
    color:#FFF;
}
.bg-dark-brand-mix {
    background-color:rgba({{ secondaryColor|convert_rgb }}, 0.37);
}
.bg-light-grey {
    background-color:#F6F6F6;
}
.bg-white {
    background-color:#FFF;
}

#mobile-trigger {
    font-size:42px;
    color:{{ primaryColor }};
    font-family:'modern_pictograms_proregular';
    float:right;
    margin-top:-45px;
    position:relative;
    z-index:99;
    text-rendering:auto;
}

.header-container .widget-span {
    min-height:0!important;
}

.aplite-section-title-wrap {
    text-align:center;
    padding-bottom:75px;
}
.aplite-section-title-wrap.left {
    text-align:left;
}
h2.aplite-section-title, .aplite-section-title.widget-span .hs_cos_wrapper_type_text {
    display:inline;
    border-bottom-width:3px;
    border-bottom-style:solid;
    border-bottom-color:{{ primaryColor }};
    padding-bottom:8px;
    font-size: 32px;
    color: #414141;
    line-height: 39px;
    font-weight:700;
}
.bg-tinted-dark h2.aplite-section-title, .bg-tinted-dark .aplite-section-title.widget-span .hs_cos_wrapper_type_text, .bg-primary h2.aplite-section-title, .bg-primary .aplite-section-title.widget-span .hs_cos_wrapper_type_text {
    border-bottom-color:#FFF;
    border-image:none;
    color:#FFF;
}
html.borderimage .aplite-section-title, html.borderimage .aplite-section-title.widget-span .hs_cos_wrapper_type_text {
    -moz-border-image: -moz-linear-gradient(left, {{ primaryColor }} 0%, {{ secondaryColor }} 100%); /* FF3.6+ */
    -webkit-border-image: -webkit-gradient(linear, left top, right top, color-stop(0%,{{ primaryColor }}), color-stop(100%,{{ secondaryColor }})); /* Chrome,Safari4+ */
    -webkit-border-image: -webkit-linear-gradient(left, {{ primaryColor }} 0%,{{ secondaryColor }} 100%); /* Chrome10+,Safari5.1+ */
    -o-border-image: -o-linear-gradient(left, {{ primaryColor }} 0%,{{ secondaryColor }} 100%); /* Opera 11.10+ */
    -ms-border-image: -ms-linear-gradient(left, {{ primaryColor }} 0%,{{ secondaryColor }} 100%); /* IE10+ */
    border-image: linear-gradient(to right, {{ primaryColor }} 0%,{{ secondaryColor }} 100%); /* W3C */
    border-image-slice: 1;
}
html.borderimage .bg-tinted-dark .aplite-section-title, html.borderimage .bg-tinted-dark .aplite-section-title.widget-span .hs_cos_wrapper_type_text, html.borderimage .bg-primary .aplite-section-title, html.borderimage .bg-primary .aplite-section-title.widget-span .hs_cos_wrapper_type_text {
    border-bottom-color:#FFF;
    border-image:none;
    color:#FFF;
}

.mini-header {
    font-size:18px;
    font-weight:700;
}

.header-container-wrapper .hs_cos_wrapper_type_logo a, .header-container-wrapper .hs_cos_wrapper_type_linked_image a {
    margin:15px 0;
    display:block;
    position:relative;
    min-height:30px;
}
.header-container-wrapper .hs_cos_wrapper_type_logo img, .header-container-wrapper .hs_cos_wrapper_type_linked_image img {
    width:auto !important;
    display:block;
    height:auto;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
}

.header-container-wrapper .hs-menu-wrapper {
    text-align:right;
    font-size:0px;
    margin-top:11px;
    font-weight:700;
}
.header-container-wrapper .hs-menu-item {
    text-align:left;
    display:inline-block;
    position:relative;
    zoom:1;
    *display:inline;
}
.header-container-wrapper .hs-menu-depth-1.hs-menu-item {
    margin:15px 3px;
}
.header-container-wrapper .hs-menu-depth-1.hs-menu-item a {
    padding:7px 15px;
    border-radius:5px;
    font-size: 14px;
    color: #878787;
    line-height: 17px;
}
.header-container-wrapper .hs-menu-depth-1.hs-menu-item:hover a {
    background:rgba({{ primaryColor|convert_rgb }}, 0.1);;
}
.header-container-wrapper .hs-menu-children-wrapper .hs-menu-item, .header-container-wrapper .hs-menu-children-wrapper .hs-menu-item a {
    display:block;
}
.header-container-wrapper .hs-menu-children-wrapper {
    display:none;
    position:absolute;
}
.header-container-wrapper .hs-menu-depth-1 .hs-menu-children-wrapper {
    left:0;
    top:23px;
    min-width:140px;
    background:{{ color_variant(primaryColor, 170) }};
}
.header-container-wrapper .hs-menu-depth-2 .hs-menu-children-wrapper {
    left:100%;
    top:0px;
    min-width:140px;
    background:{{ color_variant(primaryColor, 170) }};
}
.header-container-wrapper .hs-menu-item:hover > .hs-menu-children-wrapper {
    display:block;
}

.aplite-banner {
    padding:190px 0;
    background: rgba({{ primaryColor|convert_rgb }}, 0.8);
    background: -moz-linear-gradient(left, rgba({{ primaryColor|convert_rgb }}, 0.8) 0%, rgba({{ secondaryColor|convert_rgb }}, 0.8) 100%); {# FF3.6+ #}
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba({{ primaryColor|convert_rgb }}, 0.8)), color-stop(100%,rgba({{ secondaryColor|convert_rgb }}, 0.8))); {# Chrome,Safari4+ #}
    background: -webkit-linear-gradient(left, rgba({{ primaryColor|convert_rgb }}, 0.8) 0%,rgba({{ secondaryColor|convert_rgb }}, 0.8) 100%); {# Chrome10+,Safari5.1+ #}
    background: -o-linear-gradient(left, rgba({{ primaryColor|convert_rgb }}, 0.8) 0%,rgba({{ secondaryColor|convert_rgb }}, 0.8) 100%); {# Opera 11.10+ #}
    background: -ms-linear-gradient(left, rgba({{ primaryColor|convert_rgb }}, 0.8) 0%,rgba({{ secondaryColor|convert_rgb }}, 0.8) 100%); {# IE10+ #}
    background: linear-gradient(to right, rgba({{ primaryColor|convert_rgb }}, 0.8) 0%,rgba({{ secondaryColor|convert_rgb }}, 0.8) 100%); {# W3C #}
}
.aplite-banner.smaller {
    padding:70px 0 50px;
}
.aplite-home-banner-title {
    padding-bottom:25px;
    font-size: 45px;
    color: #FFFFFF;
    line-height: 54px;
    font-weight:700;
    text-align:center;
}
.aplite-banner-subtext {
    font-size: 18px;
    text-align:center;
    color: #FFFFFF;
    line-height: 31px;
    padding-bottom:40px;
}
.cta-style-white-filled .cta_button {
    background:#FFF;
    display:block;
    color:{{ primaryColor }};
    font-size:18px;
    padding:12px 0;
    text-align:center;
    border:2px solid #FFF;
    border-radius:5px;
    transition:all 0.3s ease;
}
.cta-style-white-hollow .cta_button {
    background:transparent;
    display:block;
    color:#FFF;
    font-size:18px;
    padding:12px 0;
    text-align:center;
    border:2px solid #FFF;
    border-radius:5px;
    transition:all 0.3s ease;
}
.cta-style-color-hollow .cta_button {
    background:transparent;
    display:block;
    color:{{ primaryColor }};
    font-size:18px;
    padding:12px 0;
    text-align:center;
    border:2px solid {{ primaryColor }};
    border-radius:5px;
    transition:all 0.3s ease;
}
.cta-style-white-filled .cta_button:hover {
    background:{{ primaryColor }};
    color:#FFF;
}
.cta-style-white-hollow .cta_button:hover {
    background:rgba(255,255,255,0.2);
}
.cta-style-color-hollow .cta_button:hover {
    color:#FFF;
    background:{{ primaryColor }};
}

#mobile .sidr-class-hs-cta-node a {
    border:2px solid white;
    background:#FFF;
    border-radius:5px;
    display:block;
    padding:12px 0;
    transition:all 0.3s ease;
    text-align:center;
    width:89%;
    margin:0 auto;
}
#mobile .sidr-class-hs-cta-node a:hover {
    background:rgba(255,255,255,0.8);
}
.header-cta .cta_button {
    font-size:14px;
    color:#4BA7E4;
    line-height:17px;
    margin-top:14px;
    border-width:1px;
    padding:10px 0;
}

.testimonial-slide .hs_cos_wrapper_type_textarea {
    padding:0 13%;
    display:block;
}
.slides-nav-wrapper {
    text-align:center;
}
#testimonials {
    position:relative;
    overflow:visible!important;
}
.slidesjs-navigation {
    font-family: 'modern_pictograms_proregular';
    color:#414141;
    font-size:40px;
    line-height:0;
    position:absolute;
    top:25%;
    right:-10%;
    transform:translateY(-50%);
    z-index:90;
    cursor:pointer;
}
.slidesjs-previous {
    transform:rotate(180deg);
    left:-10%;
    right:auto;
}
.testimonial-slide:before {
    content:"\201C";
    font-family:Arial, sans-serif;
    position:absolute;
    top:13px;
    left:50px;
    font-size:48px;
    color:{{ secondaryColor }};
    
}
.testimonial-slide img {
    width:140px!important;
    height:auto;
    display:block;
    margin:35px auto 0;
}

.feature-item {
    padding-bottom:35px;
}

.three-points {
    text-align:center;
}
.three-points img {
    padding-bottom:25px;
}


.hs-rss-item.hs-with-featured-image .hs-rss-item-text {
    float: right;
    width: 60%;
    padding: 0 0 0 15px;
}
.hs-rss-item:last-child {
    margin-bottom: 10px;
}
.hs-rss-item.hs-with-featured-image .hs-rss-featured-image {
    display: block;
    width: auto;
}
.hs-rss-item.hs-with-featured-image .hs-rss-item-image-wrapper {
    float: left;
    width: 40%;
    border-radius: 4px;
}
.hs_cos_wrapper_type_rss_listing {
    text-align:center;
    display:block;
}
.hs_cos_wrapper_type_rss_listing h3 {
    display:inline-block;
    border-bottom-width:3px;
    border-bottom-style:solid;
    border-bottom-color:{{ primaryColor }};
    padding-bottom:8px;
    font-size: 32px;
    color: #414141;
    line-height: 39px;
    font-weight:700;
    zoom:1;
    *display:inline;
}
html.borderimage .hs_cos_wrapper_type_rss_listing h3 {
    -moz-border-image: -moz-linear-gradient(left, {{ primaryColor }} 0%, {{ secondaryColor }} 100%); /* FF3.6+ */
    -webkit-border-image: -webkit-gradient(linear, left top, right top, color-stop(0%,{{ primaryColor }}), color-stop(100%,{{ secondaryColor }})); /* Chrome,Safari4+ */
    -webkit-border-image: -webkit-linear-gradient(left, {{ primaryColor }} 0%,{{ secondaryColor }} 100%); /* Chrome10+,Safari5.1+ */
    -o-border-image: -o-linear-gradient(left, {{ primaryColor }} 0%,{{ secondaryColor }} 100%); /* Opera 11.10+ */
    -ms-border-image: -ms-linear-gradient(left, {{ primaryColor }} 0%,{{ secondaryColor }} 100%); /* IE10+ */
    border-image: linear-gradient(to right, {{ primaryColor }} 0%,{{ secondaryColor }} 100%); /* W3C */
    border-image-slice: 1;
}
.hs-rss-module {
    padding-top:75px;
}
.hs-rss-title {
    font-weight:700;
    font-size: 24px;
    color: #414141;
    line-height: 32px;
}
.hs-rss-description a {
    display:block;
    margin-top:18px;
    color:{{ primaryColor }};
}
.hs-rss-item-text {
    text-align:left;
}

.footer-title {
    font-weight:700;
    font-size: 24px;
    line-height: 32px;
}

#site-footer {
    font-size:14px;
    line-height:23px;
}
.footer-widget-title {
    font-weight:700;
    font-size:14px;
    color:#414141;
}
#site-footer a {
    color:#878787;
}
#site-footer .hs_cos_wrapper_type_follow_me {
    text-align:right;
}
#site-footer .hs_cos_wrapper_type_follow_me a {
    margin-left:12px;
}
#site-footer .hs_cos_wrapper_type_blog_subscribe h3 {
    font-size:14px;
    font-weight:normal;
}
#site-footer .input input {
    width:100%;
    border-radius:3px;
    height:38px;
    border:1px solid #D0D0D0;
}
#site-footer .input input {
    box-sizing: border-box;
    padding: 4px;
}
#site-footer .hs-error-msgs {
    font-size:12px;
    color:#d30000;
    text-align:center;
}
#site-footer .hs_submit input {
    background:#D0D0D0;
    display:inline-block;
    padding:7px 17px;
    color:#FFF;
    border:none;
    border-radius:4px;
    font-size:14px;
    margin-top:9px;
    font-family:Lato;
}
#site-footer .hs_submit input:hover {
    background:#333;
}
.hs-footer-company-copyright {
    display:block;
    padding:10px 0;
}

/* Some template stuff, don't sweat this at all */
.theme-border {
    border-bottom-width:3px;
    border-bottom-style:solid;
    border-bottom-color:{{ primaryColor }};
    padding-bottom:8px;
}
html.borderimage .theme-border {
    -moz-border-image: -moz-linear-gradient(left, {{ primaryColor }} 0%, {{ secondaryColor }} 100%); /* FF3.6+ */
    -webkit-border-image: -webkit-gradient(linear, left top, right top, color-stop(0%,{{ primaryColor }}), color-stop(100%,{{ secondaryColor }})); /* Chrome,Safari4+ */
    -webkit-border-image: -webkit-linear-gradient(left, {{ primaryColor }} 0%,{{ secondaryColor }} 100%); /* Chrome10+,Safari5.1+ */
    -o-border-image: -o-linear-gradient(left, {{ primaryColor }} 0%,{{ secondaryColor }} 100%); /* Opera 11.10+ */
    -ms-border-image: -ms-linear-gradient(left, {{ primaryColor }} 0%,{{ secondaryColor }} 100%); /* IE10+ */
    border-image: linear-gradient(to right, {{ primaryColor }} 0%,{{ secondaryColor }} 100%); /* W3C */
    border-image-slice: 1;
}
.bg-macbook, .layout-macbook {
    background:url(//cdn2.hubspot.net/hubfs/364768/Aplite/aplite-laptop.png) top center no-repeat;
    padding-bottom:56.07%;
}
.bg-macbook img {
    width:77%;
    top:4.2%;
    left:11.6%;
}
.bg-ipad {
    background:url(//cdn2.hubspot.net/hubfs/364768/Aplite/aplite-tablet.png) top center no-repeat;
    padding-bottom:55.29%;
    width:80%;
}
.layout-ipad {
    width:auto;
    background:url(//cdn2.hubspot.net/hubfs/364768/Aplite/aplite-tablet.png) top center no-repeat;
    padding-bottom:68.28%;
}
.bg-ipad img {
    width:82%;
    left:9%;
    top:4.2%;
}
.bg-iphone-full-wrapper {
    width:44%;
    margin:0 auto;
}
.bg-iphone-full-wrapper-bg {
    background:url(//cdn2.hubspot.net/hubfs/364768/Aplite/phone-shadow.png) center 135% no-repeat;
    background-size:100% auto;
}
.bg-iphone, .layout-iphone {
    background:url(//cdn2.hubspot.net/hubfs/364768/Aplite/aplite-phone.png) top center no-repeat;
    padding-bottom:205.75%;
}
.bg-iphone img {
    width:88.1%;
    top:11.7%;
    left:6%;
}
.bg-macbook img, .bg-ipad img, .bg-iphone img, .layout-macbook img, .layout-ipad img, .layout-iphone img {
    display:block;
    position:absolute;
}
.bg-macbook, .bg-ipad, .bg-iphone, .layout-macbook, .layout-ipad, .layout-iphone {
    background-size:100% auto;
    position:relative;
    height:0;
    margin:0 auto;
}

.layout-item {
    display:inline-block;
    zoom:1;
    *display:inline;
}

.bg-layout-1 {
    text-align:center;
}
.bg-layout-1 .layout-macbook-wrap {
    width:72.45%;
}
.bg-layout-1 .layout-iphone-wrap {
    width:11.11%;
    margin-left:5.5%;
}
.bg-layout-1 .layout-macbook-wrap img {
    top:4.4%;
    left:11.6%;
    width:77.2%;
}
.bg-layout-1 .layout-iphone img {
    top:11%;
    left:5%;
    width:89%;
}

.bg-layout-2 {
    text-align:justify;
    padding:0 15px;
}
.bg-layout-2:after {
    content:" ";
    width:100%;
    display:inline-block;
    zoom:1;
    *display:inline;
}
.bg-layout-2 .layout-item {
    vertical-align:middle;
}
.bg-layout-2 .layout-macbook-wrap {
    width:57.36%;
}
.bg-layout-2 .layout-ipad-wrap {
    width:33.75%;
    margin-left:-5.5%;
}
.bg-layout-2 .layout-iphone-wrap {
    width:11.11%;
}
.bg-layout-2 .layout-macbook img {
    top:4.3%;
    left:11.6%;
    width:77.3%;
}
.bg-layout-2 .layout-ipad img {
    top:4.7%;
    left:9.5%;
    width:81.4%;
}
.bg-layout-2 .layout-iphone img {
    top:11%;
    left:5%;
    width:89%;
}

.bg-layout-3 {
    text-align:center;
}
.bg-layout-3 .layout-iphone-wrap {
    width:15.137375%;
    margin-left:7.49375%;
}
.bg-layout-3 .layout-iphone-wrap:first-child {
    margin-left:0;
}
.bg-layout-3 .layout-iphone img {
    top:11%;
    left:5.6%;
    width:89%;
}

.flexible-column .hs_cos_wrapper_widget:not(.hs_cos_wrapper_type_custom_widget) + .hs_cos_wrapper_widget:not(.hs_cos_wrapper_type_custom_widget) {
    padding-top:1.8em;
}

.widget-header {
    font-size:18px;
    color:#414141;
    padding-bottom:0.8em;
}

.divider-line {
    height:1px;
    margin:3em 0;
    background:#D0D0D0;
}

.body-container-wrapper .hs-menu-wrapper a {
    padding:11px 13px 8px;
    border-radius:5px;
    color:{{ primaryColor }};
    background-color:#FFF;
    transition:0.2s;
    line-height:1;
    display:inline-block;
    zoom:1;
    *display:inline;
}
.body-container-wrapper .hs-menu-wrapper a:hover {
    color:#FFF;
    background-color:{{ primaryColor }};
}

.pullout-copy {
    color:#FFF;
    font-weight:300;
    font-size:32px;
    text-align:center;
    padding:0 6%;
    line-height:1.2em;
}

.single-column-flexible .hs_cos_wrapper:nth-child(even) {
    background-color:rgba({{ primaryColor|convert_rgb }}, 0.1);
}

/* About */
.team-modules-wrap span {
    font-size:0px;
}
.team-modules-wrap span .hs_cos_wrapper_type_custom_widget {
    width:calc(100% / 3);
    display:inline-block;
    zoom:1;
    *display:inline;
}
.team-item-wrap {
    border:1px solid #E1E1E1;
    margin:0 15px 50px;
}
.team-item-image {
    display:block;
}
.team-item-info {
    padding:25px;
}
.team-item-name {
    font-size:18px;
    font-weight:400;
    color:#414141;
    padding-bottom:5px;
}
.team-item-title {
    font-style:italic;
    font-size:14px;
    color:#414141;
    font-weight:300;
    padding-bottom:5px;
}
.team-item-bio {
    font-size:14px;
    line-height:1.5em;
}

/* Blog */
.post-item + .post-item {
    margin-top:50px;
}
.post-item .row-fluid {
    border:1px solid #E1E1E1;
}
.hs-featured-image-link {
    display:block;
    min-height:250px!important;
    height:100%;
    background-position:center center;
    background-size:cover;
}
.hs-featured-image {
    float:none;
    display:block;
    min-height:250px;
    max-width:100%;
    margin:0;
}
.excerpt-body {
    padding:30px 2.564102564% 30px 0;
}
.excerpt-header h2 {
    padding-bottom:12px;
}
.excerpt-header h2 a {
    color:#414141;
    font-size:24px;
    font-weight:600;
    line-height:1.2em;
}
.excerpt-header #hubspot-author_data {
    padding-bottom:12px;
}
.excerpt-header #hubspot-author_data a, .excerpt-header #hubspot-author_data {
    color:#4A4A4A;
}

.blog-section-inner {
    padding:80px 0;
}
.post-header {
    position:relative;
    padding:80px 0 50px;
    min-height:350px;
    width:100%;
    overflow:hidden;
    box-sizing:border-box;
}
.post-header-bg {
    position:absolute;
    width:100%;
    min-height:350px;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    -moz-transform:translate(-50%, -50%);
    -ms-transform:translate(-50%, -50%);
    -o-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
}
.post-header-tint {
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.7);
    position:absolute;
    top:0;
    left:0;
}
.post-header-content {
    position:relative;
    color:#FFF;
    padding:0 8%;
}
.hs-author-avatar {
    height:50px;
    width:50px;
    border-radius:50%;
    border:1px solid #FFF;
    vertical-align:middle;
    position: relative;
    top: -10px;
    margin-right: 10px;
}
#hubspot-author_data {
    font-style:italic;
}
#hubspot-author_data a {
    color:#FFF;
}
.post-header-content h1 {
    font-size:45px;
    line-height:1.1em;
    letter-spacing:-0.013em;
}
#hubspot-topic_data {
    margin-top:15px;
    margin-left:-10px;
}
#hubspot-topic_data li {
    margin:0 10px;
    display:inline-block;
    zoom:1;
    *display:inline;
}
.topic-link {
    color:#FFF;
    font-weight:700;
    font-size:12px;
    text-transform:uppercase;
    background-color:{{ primaryColor }};
    padding:0px 13px;
    border-radius:15px;
    background:;
    display:inline-block;
    zoom:1;
    *display:inline;
}

.post-body {
    padding:8% 0;
}


.blog-pagination {
    text-align:center;
    padding-top:50px;
}
.blog-pagination a {
    display:inline-block;
    color:#FFF;
    background-color:{{ primaryColor }};
    padding:11px 17px;
    border-radius:5px;
    margin:0 7px;
}

#blog-comments {
    padding-top:50px;
}
#comment-form {
    padding-top:60px;
    border-top:1px solid #D1D1D1;
}
#comment-form .hs-form-field {
    padding-bottom:20px;
}
#comment-form .hs-input {
    padding:8px 15px;
    border-radius:5px;
    border:1px solid #D2D2D2;
    font-size:16px;
    color:#878787;
    width:100%;
    box-sizing:border-box;
    max-width:490px;
}
#comment-form .hs_subscribe.hs-form-field .hs-input {
    width:auto;
}
.hs-button.primary {
    background-color:{{ primaryColor }};
    padding:10px 17px;
    min-width:154px;
    text-align:center;
    border-radius:5px;
    font-size:16px;
    font-family:Lato;
    color:#FFF;
    border:none;
}

.hs-blog-post .addthis_toolbox {
    position:fixed;
    top:10%;
    left:0;
    width:50px;
}
.addthis_toolbox a {
    margin-bottom:0!important;
    height:50px;
}
.addthis_32x32_style .at-icon {
    margin-left:8px;
    margin-top:8px;
}
.addthis_toolbox.addthis_32x32_style span {
    width:50px!important;
    height:50px!important;
}
.addthis_default_style .at300b, .addthis_default_style .at300bo, .addthis_default_style .at300m {
    padding:0!important;
}

.widget-type-rich_text p, .widget-type-rich_text ul, .hs_cos_wrapper_type_rich_text p, .hs_cos_wrapper_type_rich_text ul, .post-body p, .post-body ul {
    padding-bottom:1.8em;
}
.widget-type-rich_text ul, .post-body ul, .hs_cos_wrapper_type_rich_text ul {
    list-style-type:square;
    list-style-position:outside;
    padding-left:25px;
}
.widget-type-rich_text ol, .post-body ol, .hs_cos_wrapper_type_rich_text ol {
    list-style-type:decimal;
    list-style-position:outside;
    padding-left:25px;
}
.widget-type-rich_text li, .post-body li, .hs_cos_wrapper_type_rich_text li {
    padding-top:1em;
}
.widget-type-rich_text ul li:first-child, .widget-type-rich_text ol li:first-child, .hs_cos_wrapper_type_rich_text ul li:first-child, .hs_cos_wrapper_type_rich_text ol li:first-child, .post-body ul li:first-child, .post-body ol li:first-child {
    padding-top:0;
}
.widget-type-rich_text a, .post-body a, .excerpt-body a, .hs_cos_wrapper_type_rich_text a {
    color:{{ primaryColor }};
}
.widget-type-rich_text a:hover, .post-body a:hover, .hs_cos_wrapper_type_rich_text a {
    text-decoration:underline;
}
.post-body blockquote {
    padding-left:30px;
    margin-left:30px;
    border-left:2px solid #4A4A4A;
    font-weight:300;
    font-style:italic;
    font-size:20px;
    line-height:1.8em;
    margin-bottom:1.8em;
}
.post-body blockquote p {
    padding-bottom:0;
}
.post-body code {
    background-color:#f6f6f6;
    padding:4px;
}

.fix-v-align .widget-span {
    position:relative;
}

/*****************************************/
/* Phone to Tablet Media Queries         */
/*****************************************/


@media (max-width: 767px) {
    
    .mhide {
        display:none;
    }
    .dhide {
        display:block;
    }
    .widget-type-space {
        display:none !important;
    }
    .m-no-break.widget-type-space {
        display:block!important;
    }
    
    .header-container-wrapper .hs_cos_wrapper_type_logo a, .header-container-wrapper .hs_cos_wrapper_type_linked_image a {
        max-width:calc(100% - 50px);
    }
    
    .hs-with-featured-image .hs-rss-item-text{ width:100%; float:none; padding-left:0; padding-right:0;}
    .hs-with-featured-image .hs-rss-item-image-wrapper{ width:100%; float:right; padding-right:0; margin-top:20px;}
    .hs-rss-title{ font-size:26px; margin-bottom:20px;}
    
    .aplite-banner {
        padding: 50px 10px;
    }
    .aplite-banner .cta_button {
        margin:10px 0;
    }
    
    h2.aplite-section-title, .aplite-section-title.widget-span .hs_cos_wrapper_type_text {
        padding-bottom:0;
    }
    .bg-iphone-full-wrapper-bg {
        padding-bottom:30px;
    }
    
    .aplite-section-wrap {
        padding: 50px 0px;
    }
    .aplite-section-wrap-medium {
        padding:35px 0;
    }
    
    .aplite-section-title-wrap {
        padding-bottom:35px;
    }
    
    .feature-item {
        text-align:center;
        padding-bottom:40px;
    }
    .hs_cos_wrapper_type_rss_listing h3 {
        display: inline;
        padding-bottom: 0px;
    }
    .hs-rss-item.hs-with-featured-image .hs-rss-item-text {
        width:auto;
    }
    .hs-rss-item.hs-with-featured-image .hs-rss-item-image-wrapper {
        display:none;
    }
    
    .three-points .widget-type-cell {
        padding-bottom:40px;
    }
    
    .bg-layout-1, .bg-layout-2, .bg-layout-3 {
        text-align:center;
    }
    .layout-item {
        padding-top:35px;
    }
    .layout-item:first-child {
        padding-top:0;
    }
    .layout-macbook-wrap, .layout-ipad-wrap, .layout-iphone-wrap {
        width:100%!important;
        margin:0!important;
    }
    .layout-iphone-wrap {
        width:55%!important;
    }
    
    .testimonial-slide::before {
        left:5px;
    }
    .slidesjs-navigation {
        top:93%;
        right:0;
    }
    .slidesjs-previous {
        left:0;
        right:auto;
    }
    
    .widget-span + .widget-type-widget_container {
        padding-top:5em;
    }
    .span6 + .span6 {
        padding-top:2em;
    }
    
    /* About */
    .team-modules-wrap span .hs_cos_wrapper_type_custom_widget {
        width:auto;
        display:block;
    }
    
    .blog-section-inner {
        padding:10px 0;
    }
    .post-header {
        padding:30px 0 50px;
        min-height:0;
    }
    #hubspot-author_data {
        text-align:center;
    }
    .hs-author-avatar {
        margin:0 auto;
        display:block;
    }
    .post-header-content h1 {
        text-align:center;
        font-size:30px;
        padding-top:20px;
    }
    #hubspot-topic_data {
        display:none;
    }
    
    .post-body {
        padding:4% 6%;
    }
    .post-item + .post-item {
        margin-top:10px;
    }
    
    .excerpt-body {
        padding:20px;
    }
    .excerpt-header #hubspot-author_data {
        text-align:left;
    }
    
    .blog-pagination {
        padding-bottom:50px;
    }
    
    .hs-blog-post .addthis_toolbox {
        top:auto;
        bottom:0px;
        width:100%;
        background:#d5d5d5;
        padding-left:37px;
    }
    
    #site-footer > div > div > div > div > div > div > div > .widget-span { {# lol, so many nested children #}
        padding-bottom:25px;
    }
    #site-footer .hs_submit input {
        width:100%;
        display:block;
        -ms-appearance:none;
        -o-appearance:none;
        -webkit-appearance:none;
        -moz-appearance:none;
        appearance:none;
    }
    #site-footer .hs_cos_wrapper_type_follow_me, .hs-footer-company-copyright {
        text-align:center;
    }
    .widget-type-follow_me {
        padding-bottom:0!important;
    }
    .hs-page .hs-tools-menu {
        top:70px!important;
    }
}