@import url(http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic);
@import url(http://fonts.googleapis.com/css?family=Montserrat:700,400);
@import url(//designers.hubspot.com/hs-fs/hub/327485/file-2054199286-css/font-awesome.css);

/**
 * CSS @imports must be at the top of the file.      
 * Add them above this section.                             
 */



/* ==========================================================================
   HS COS Boilerplate v1.3.0   
*/

/* This responsive framework is required for all styles.*/ 
{% include "custom/page/Vast_Theme/vast-modules.css" %}


 
/* ==========================================================================

   Index:         

  1. BASE STYLES   
    - Variables
    - Macros
    - Base
    - Typography

  2. COS STRUCTURE
    - Structure
    - Header
    - Content
    - Footer

  3. MAIN NAVIGATION
    - Custom Menu Primary
    - Mobile Menu

  4. TEMPLATE MODULE CLASSES
    - Common Template Classes
    - Site Pages
    - Landing Pages
    - System Pages

  5. COS COMPONENTS
    - Blog
    - Forms
    - Buttons

  6. MISCELLANEOUS

  7. MOBILE MEDIA QUERIES

   ========================================================================== */








/* ==========================================================================


   1. BASE STYLES                                             


   ========================================================================== */





/* ==========================================================================
   Variables                                               
   ========================================================================== */


/**
 * Find the most consistently used font styles, colors, and container widths 
 * for your site and assign them to the jinja variables below for easy use 
 * and reference. 
 *
 * Apply the variable as shown below.  Ignore the jingja comment tags.
 *
 * {#  property: {{ variableName }};  #}
 */

/* Colors */
{% set baseColor      = "#666" %}    /* {# Dark Gray  |  Used on 'body' in 'Base'  |  Ex. "color: {{ baseColor }};" #} */
{% set accentColor1   = "#34495e" %}   
{% set accentColor2   = "#ccc" %}    /* {# Light Gray  |  Ex. "color: {{ accentColor2 }};" #} */
{% set accentColor3   = "#ddd" %}    /* {# Lightest Gray  |  Ex. "color: {{ accentColor3 }};" #} */
{% set footerColor1   = "#fff" %}    /* {# White Background  | Ex.  "color: {{ footerColor1 }}" #} */

/* Typography */
{% set baseFontFamily    = "'Lato', arial, sans-serif" %}            /* {# Used on 'body' in 'Base'  |  Ex. "font-family: {{ baseFontFamily }};" #} */
{% set baseFontSize      = "16px" %}                         /* {# Used on 'body' in 'Base'  |  Ex. "font-size: {{ baseFontSize }};" #} */
{% set baseLineHeight    = "1.5" %}                          /* {# Used on 'body' in 'Base'  |  Ex. "line-height: {{ baseLineHeight }};" #} */
{% set webfont1          = "'Montserrat', sans-serif" %} /* {# Ex. "font-family: {{ webfont1 }};" #} */
{% set stdshadow    = "1px 1px 1px rgba(0,0,0,.5)" %}  /* {# Ex. "text-shadow: {{ stdshadow }};" #} */
{% set stdshadowLgt    = "0 1px 1px rgba(0, 0, 0, 0.2)" %}  /* {# Ex. "text-shadow: {{ stdshadowLgt }};" #} */

/* Structure */
{% set borderRadius = "4px" %}      /* {# Used for rounded corners  | Ex. "border-radius: {{ borderRadius }};" #} */

/* Containers */
{% set maxWidth = "1080px" %} /* Used on '.page-center' in 'Base' and in the 'Portrait tablet to landscape and desktop' media query */




/* ==========================================================================
   Macros                                                  
   ========================================================================== */


/** 
  * Create jinja macros for CSS3 properties that need browser prefixes.
  *
  * Apply the style as shown below.  Ignore the jinja comment tags. 
  *
  * {#  {{ variableName("values") }}  #}
  */
  

/* Transition */
{% macro transition(value) -%} 
    -webkit-transition: {{ value }};
    -moz-transition: {{ value }};
    -o-transition: {{ value }};
    -ms-transition: {{ value }};
    transition: {{ value }};
{%- endmacro %} 

/* Animation Delay */
{% macro animationDelay(value) -%} 
    animation-delay: {{ value }};
    -moz-animation-delay: {{ value }};
    -webkit-animation-delay: {{ value }};
    -o-animation-delay: {{ value }};
    transition-delay: {{ value }};
    -webkit-transition-delay: {{ value }};
    -moz-transition-delay: {{ value }};
    -o-transition-delay: {{ value }};
{%- endmacro %} 

/* Box Shadow */
{% macro boxshadow(value) -%}
    -webkit-box-shadow: {{ value }};
    -moz-box-shadow: {{ value }};
    -o-box-shadow: {{ value }};
    -ms-box-shadow: {{ value }};
    box-shadow: {{ value }};
{%- endmacro %}

/* Background Size */
{% macro backgroundsize(value) -%}
    -webkit-background-size: {{ value }};
    -moz-background-size: {{ value }};
    -o-background-size: {{ value }};
    background-size: {{ value }};
{%- endmacro %}


/* User Select */
{% macro userselect(value) -%} 
    -webkit-user-select: {{ value }};
    -moz-user-select: {{ value }};
    -ms-user-select: {{ value }};
    user-select: {{ value }};
{%- endmacro %}

/* Opacity*/
{% macro opacity(value) -%} 
    -webkit-opacity: {{ value }};
    -moz-opacity: {{ value }};
    opacity: {{ value }};
{%- endmacro %}




/* ==========================================================================
   Base                                                    
   ========================================================================== */


/** 
 * Box Sizing
 * 
 * Applies a natural box layout model to all elements so that width and padding 
 * are essentially combined, making responsive styles easier to manage.
 */

*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html, body {
    min-height: 100%;
    margin: 0;
    padding: 0;
} 

/* Website background color and default font styles */
body {
    background: #fff;
    color: {{ baseColor }};
    font-family: {{ baseFontFamily }};
    font-size: {{ baseFontSize }};
    line-height: {{ baseLineHeight }};
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

hr{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);}
/**
 * Page Center
 *
 * Apply .page-center to full-width modules.
 */

.container-fluid .row-fluid .page-center {
    float: none;
    max-width: {{ maxWidth }};
    margin: 0 auto;
}

a { 
    text-decoration: none;
    color: {{ accentColor1 }};
    {{ transition("all 0.4s ease-in-out") }}
}
a:hover,
a:focus {
    color: {{ color_variant(accentColor1, -50) }};
}

/* Highlighted Text */
::-moz-selection {
    color: #fff;
    background: {{ baseColor }};
    text-shadow: none;
}
::selection {
    color: #fff;
    background: {{ baseColor }};
    text-shadow: none;
}




/* ==========================================================================
   Typography
   ========================================================================== */


/* Basic text */
p { margin: 10px 0; } 

small {}
strong {}
em {}
cite {}
code {}
pre {}

sup, sub {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sup { top: -0.5em; }
sub { bottom: -0.25em; }

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: {{ webfont1 }};
    margin: 10px 0;
    text-rendering: optimizelegibility;
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0px;   
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {}

h1 { font-size: 36px; }
h2 { font-size: 30px; }
h3 { font-size: 24px; }
h4 { font-size: 18px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }

/* Lists */
ul, ol {}
ul ul, ul ol, ol ol, ol ul {}
li {}

ul.unstyled, ol.unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Quotes */
blockquote {}
blockquote p {}
blockquote small {}
blockquote small:before {}

q:before, q:after, blockquote:before, blockquote:after {}

.text-center { text-align: center; }








/* ==========================================================================


   2. COS STRUCTURE                                            


   ========================================================================== */





/* ==========================================================================
   Structure                                               
   ========================================================================== */


/* The outer wrappers of your website */
.header-container-wrapper, 
.body-container-wrapper, 
.footer-container-wrapper {}

/* The inner wrappers of your website */
.header-container, 
.body-container, 
.footer-container {}




/* ==========================================================================
   Header
   ========================================================================== */


.header-container-wrapper {
    position: fixed;
    width: 100%;
    z-index: 9999;
}
.header-container {
    padding: 10px 0;
    background: #fff;
    z-index: 9999;
}
.global-header .logo {
    padding: 10px 0;
    min-height: 50px;
    max-width: 100%;
}
.global-header .logo a {
    max-width: 100%;
}

.header-cta{
    margin-top: 13px;
    {{ transition("all .1s ease-in-out") }}
}

/* Logo styling */
.header-container .hs_cos_wrapper_type_logo a{
    position: relative;
    display: inline-block;
}
.header-container .hs_cos_wrapper_type_logo a:after{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
    z-index: 99999;
    content: '';
}

/* Header Small */
.small-header .header-container { padding: 5px 0; }
.small-header .header-container .hs_cos_wrapper_type_logo a img { max-width: 200px; }
.small-header .custom-menu-primary .hs-menu-wrapper>ul { padding-top: 5px; }
.small-header .header-cta { margin-top: 7px; }



/* ==========================================================================
   Content                                                 
   ========================================================================== */


.body-container-wrapper {}
.body-container {}


/* Unique Pages
   ========================================================================== */

/* Homepage */
.background-image {
    display: none !important;
}
#banner-background-image{
    position: relative;
    background-color: #444;
    background-repeat: no-repeat;
    background-position: center bottom;
    {{ backgroundsize("cover")}}
    min-height: 620px;   
}
#banner-background-image:before {
    background-color: rgba(0,0,0,.1);
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#banner-background-image .header-text {
    margin-top: 30px;
    width: auto;
    position: relative;
}
#banner-background-image h1 {
    color: #fff;
    text-shadow: {{ stdshadow }};
    max-width: 700px;
    margin-bottom: 0px;
    padding: 5px 5px 5px 10px;
}
#banner-background-image h3 {
    color: #fff;
    font-size: 22px;
    max-width: 680px;
    margin-bottom: 15px;
    font-family: {{ baseFontFamily }};
    font-weight: normal;
    text-shadow: {{ stdshadowLgt }};
    padding: 5px 5px 5px 10px;
}
#banner-background-image .subscribe-form h3{
    padding: 0px;
    background: none;
}
#banner-background-image .cta_solid_button {
    background: #fff;
    border-style: solid;
    border-width: 2px;
    {{ transition("all 0.4s ease-in-out") }}
    font-family: {{ webfont1 }};
    padding: 8px 16px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: {{ borderRadius }};
    {{ userselect("none") }}
    text-decoration: none;
    color: {{ accentColor1 }};
    border-color: {{ accentColor1 }};
}
#banner-background-image .cta-container {
    margin-bottom: 10px;
    padding: 5px 5px 5px 10px;
}
#banner-background-image .cta_solid_button:hover{
    border: 2px solid #FFF;
    background: {{ accentColor1 }};
    color: #FFF;
}
.homepage .subscribe-form {
    background: rgba(0, 0, 0, 0.2);
    padding: 30px 0;
    padding-bottom: 80px;
    color: #fff;
    position: absolute;
    bottom: 0;
}
.home-sub-form {
    max-width: 475px;
    margin: 0 auto;
    float: none !important;
    margin-left: auto !important;
}
.homepage .subscribe-form form {
    position: relative;
    float: left;
}
.homepage .subscribe-form .title {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 10px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);   
    font-weight: 700;
}
.homepage .subscribe-form input[type="email"] {
    max-width: 400px;   
    height: 37px;
}
.homepage .subscribe-form .hs_email {
    display: inline-block;
    width: 354px;
    margin-right: 5px;
    bottom: 0;
    float: left;
    margin-bottom: 1px;
    position: relative;
}
.homepage .subscribe-form .hs_email .hs-error-msgs {
    position: absolute;
    margin-top: 40px;
}
.homepage .subscribe-form .hs_submit {
    display: inline-block;
    float: left;
    bottom: 0;
    position: absolute;
}
.homepage .subscribe-form .hs-button.primary {
    border-style: solid;
    border-width: 2px;
    color: #FFF; 
    {{ transition("all 0.4s ease-in-out") }}
    margin: 0;
    border-color: {{ accentColor1 }};
    background: {{ accentColor1 }};
    text-transform: uppercase;
    padding: 8px 12px;
}
.homepage .subscribe-form .hs-button.primary:hover {
    background: #fff;
    border-style: solid;
    border-width: 2px;      
    border-color: {{ accentColor1 }};
    color: {{ accentColor1 }};
}
.social-media {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 0px;
}
.social-media:before {
    {{ opacity("0.6") }}
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    background: {{ accentColor1 }};
    z-index: 1;
}
.social-media > .page-center {
    position: relative;
    z-index: 2;
}
.social-media a{
    padding-right: 5px;   
}
.social-tagline {
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,0.6);
    font-weight: 700;
    font-size: 13px;
    text-align: right;
}
.logo-bar-background{
    background: #f5f5f5;
    height: 100px;
}
#offer-background-image{
    position: relative;
    background-color: #444;
    background-repeat: no-repeat;
    background-position: center center;
    {{ backgroundsize("cover")}}
    min-height: 450px;
    float: left;
    width: 100%;
}
#offer-background-image .offer-section-text {
    margin-top: 30px;
    background-color: rgba(0,0,0,0.2);
    width: auto;
}
#offer-background-image h1 {
    color: #fff;
    text-shadow: {{ stdshadow }};
    max-width: 700px;
    margin-bottom: 0px;
    padding: 5px 5px 5px 10px;
}
#offer-background-image h3 {
    color: #fff;
    font-size: 22px;
    max-width: 680px;
    margin-bottom: 15px;
    font-family: {{ baseFontFamily }};
    font-weight: normal;
    text-shadow: {{ stdshadowLgt }};
    padding: 5px 5px 5px 10px;
}
.offer-image { display: none !important; }

#offer-background-image .hs-form-field>label{
    color: #fff;
}
#offer-background-image .offer-form h3{
    background: none;
}
.homepage .main-content h2 { margin: 0px; }
.homepage .main-content .sub-headline { font-size: 18px; }
.faq-background { background: #f5f5f5; }

.homepage .fb_iframe_widget {
    top: -2px;
}
.homepage .fb_iframe_widget > span,
.homepage .linked-in-share {
    vertical-align: top !important;
}
.homepage #twitter-widget-0 {
    width: 80px !important;
}
.homepage .social-share-data {
    position: relative;
    top: 3px;
}


/* Reusable Components
   ========================================================================== */

/* FAQ Module */
.accordion { margin-bottom: 20px; }
.accordion_group {
    margin-bottom: 2px;
    border: 1px solid {{ accentColor3 }};
    border-radius: {{ borderRadius }};
    background: #f0f0f0;
    padding: 5px 10px;
}

/* Testimonial Module */
.quote-box {
    border-radius: {{ borderRadius }};
}



/* Page Title Background */
.title-background{
    background: #f5f5f5;
}
.title-background h1, .title-background h2{
    margin-bottom: 0px;
}


/* Blog Subscribe Module */
.subscribe-form {
    background: #f5f5f5;
}
.subscribe-form.page-center label {
    min-height: 24px;
    display: block;
    margin-bottom: 0px;
}
.subscribe-form .widget-type-blog_subscribe input[type="email"] {
    max-width: initial;   
    height: 38px;
    width: 100%;
    margin: 0;
}
.subscribe-form .hs_email {
    display: inline-block;
    width: 300px;
    margin-right: 5px;
    vertical-align: top;
}
.subscribe-form .hs_submit {
    display: inline-block;
    margin-top: 25px;
}
.subscribe-form .hs-button.primary {
    border-style: solid;
    border-width: 2px;
    {{ transition("all 0.4s ease-in-out") }}
    border-color: {{ accentColor1 }};
    margin: 0;
}
.subscribe-form .hs-button.primary:hover {
    border-style: solid;
    color: #fff;
    border-color: {{ accentColor1 }};
    background: {{ accentColor1 }};
    border-width: 2px;       
}
.subscribe-form .hs-error-msgs {
    position: absolute;
    margin: 0;
    margin-top: 40px;
}


/* Team member Module */
.team-member-headshot img{
    border-radius: 50%;
    max-width: 150px; 
    max-height: 150px;
    border-style: solid;
    border-width: 5px;
    display: inline-block;
    width: 100%;
    border-color: {{ accentColor1 }};
    height: auto;
}
.team-member-social a{
    color: {{ accentColor1 }};
    font-size: 30px;
}
.three-column .team-member-social a {
    display: block;
}
.three-column .team-member-social i {
    padding: 0;
}
.team-member-social i{
    padding-right: 5px;
}
.team-member-social a:last-child i{
    padding-right: 0px;
}
.team-member-social a:hover,
.hs-author-social-links a.hs-author-social-link:hover {
    color: {{ accentColor2 }};
}
.team-member-name{
    margin: 0px;
    font-weight: 100;
}
.team-member-title{
    margin: 0px;
    color: {{ accentColor1 }};
    font-weight: 100;
}


/* Pricing Module */
.pricing-table h3.heading {
    color: #fff;
    margin: 0px;
    text-align: center;
    padding: 5px 0px;
    -webkit-border-top-left-radius: {{ borderRadius }};
    -webkit-border-top-left-radius: {{ borderRadius }};
    -webkit-border-top-right-radius: {{ borderRadius }};
    -moz-border-radius-topleft: {{ borderRadius }};
    -moz-border-radius-topright: {{ borderRadius }};
    border-top-left-radius: {{ borderRadius }};
    background: {{ accentColor1 }};
    border-top-right-radius: {{ borderRadius }};
    }
.pricing-table .label{
    padding: 5px 10px;
    right: 15px;
    font-size: 12px;
    color: #fff;
    border-radius: {{ borderRadius }};
    margin-left: 10px;
    vertical-align: middle;
    background: {{ color_variant(accentColor1, -50) }};
}    
.pricing-table .content {
    background: #f5f5f5;
    padding: 30px;
    text-align: center;
    -webkit-border-bottom-right-radius: {{ borderRadius }};
    -webkit-border-bottom-left-radius: {{ borderRadius }};
    -moz-border-radius-bottomright: {{ borderRadius }};
    -moz-border-radius-bottomleft: {{ borderRadius }};
    border-bottom-right-radius: {{ borderRadius }};
    border-bottom-left-radius: {{ borderRadius }};
    }
.pricing-table .content ul{
    list-style: none;
    padding-left: 0px;
        
    }
.pricing-table .content ul li{
    padding: 10px 0px;  
    }
.pricing-table .number{    
    font-size: 60px;
    font-weight: 700;
    }
.pricing-table .currency{
    font-size: 24px;
    position: relative;
    top: -25px;
    }
.pricing-table .unit{
    font-size: 12px;
    color: #ccc;
    text-transform: uppercase;
    } 
.pricing-table .content a{
    padding: 10px 25px;
}   
.icon-width i {
    color: {{ accentColor1 }};
}

/* Rich Editor Checkmark Lists */
.hs_cos_wrapper_type_rich_text ul {
    padding-left: 20px;
}
.hs_cos_wrapper_type_rich_text ul li {
    list-style: none;
}
.hs_cos_wrapper_type_rich_text ul li:before {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f058";
    margin-right: 8px;
    color: {{ accentColor1 }};
    font-size: 18px;
}

/* Tabber Module */
.body-container .tabber-tabs {
    border-bottom: 1px solid #ddd;
    list-style: none;
    padding: 0;
    margin: 0 0 -2px;
}
.tabber-tabs > li {
    float: left;
}
.tabber-tabs > li > a {
    padding-right: 12px;
    padding-left: 12px;
    margin-right: 2px;
    line-height: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 20px;
    border: 1px solid transparent;
    border-radius: {{ borderRadius }};
    text-decoration: none;
    display: block;
}
.tabber-tabs > .active > a, 
.tabber-tabs > .active > a:hover, 
.tabber-tabs > .active > a:focus {
    color: #555555;
    cursor: default;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.tabber-content .tab-pane {
    background: #fff;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: {{ borderRadius }};
}
.tabber-content .tab-pane.active:nth-child(1) {
    border-top-left-radius: 0;
}
.body-container .tabber-content ul {
    padding: 0;
    margin: 0;
}
.tabber-content .block h3 {
    display: none;
}
.blog-tabber .hs-rss-item.hs-with-featured-image .hs-rss-featured-image {
    float: left;
    width: 40%;
    border-radius: {{ borderRadius }};
}
.blog-tabber .hs-rss-item.hs-with-featured-image .hs-rss-item-text {
    float: right;
    width: 60%;
    padding: 0 0 0 15px;
}
.blog-tabber .hs-rss-item:last-child {
    margin-bottom: 10px;
}

.hs-rss-item.hs-with-featured-image .hs-rss-item-image-wrapper {
display: block;
width: auto;
}



/* Flex Slider */
.hs_cos_flex-slider .caption {
    background: {{ accentColor1 }};
}

    
/* Modular Selectors
   ========================================================================== */

/* Colors */
.accentColor1 { color: {{ accentColor1 }}; }
.accentColor2 { color: {{ accentColor2 }}; }
.accentColor3 { color: {{ accentColor3 }}; }


/* Paddings */
.padding10tb { padding: 10px 0px; }
.padding20tb { padding: 20px 0px; }
.padding40tb { padding: 40px 0px; }
.padding60tb { padding: 60px 0px; }
.padding80tb { padding: 80px 0px; }
.padding100tb { padding: 100px 0px; }


/* ==========================================================================
   Footer
   ========================================================================== */


.footer-container-wrapper {}
.footer-container {}

.footer-background,
.footer-background a,
.footer-copyright a,
.footer-container-wrapper .more-links a, 
.footer-container-wrapper .contact-us a, 
.footer-container-wrapper .about-us a {
    color: {{ footerColor1 }};
}
.footer-background, 
.footer-background a {
    background: {{ accentColor1 }};
}
.footer-container-wrapper .more-links a:hover, 
.footer-container-wrapper .contact-us a:hover, 
.footer-container-wrapper .about-us a:hover {
    color: #FFF;
}
.footer-container-wrapper .more-links a {
    margin: 10px 0px;
}
.footer-container-wrapper .more-links .footer-nav li:before {
    content: "\f0da";
    font-family: FontAwesome;
    display: inline-block;
    float: left;
    margin-right: 5px;
    margin-top: 1px;
}
.footer-container-wrapper .icon {
    margin-bottom: 5px;
}
.footer-container-wrapper .icon i {
    float: left;
    margin-top: 3px;
}
.footer-container-wrapper .contact-us {
    word-wrap: break-word;
}
.footer-container-wrapper .contact-info {
    margin-left: 25px;
}
.footer-container-wrapper .footer-copyright {
    background: {{ baseColor }};
    color: {{ accentColor2 }};
    padding: 5px 0 0 0;
    font-size: 12px;
    position: relative;
}

.footer-copyright .copyright-text {
    padding: 10px 0;
}
.footer-container-wrapper .social-icons .fa{
    font-size: 20px;
    padding-right: 5px;
}

/* Back to Top */
.container-fluid .row-fluid .back-to-top {
    position: fixed;
    bottom: 5px;
    right: 11px;
    width: auto;
    font-size: 20px;
    padding: 1px 8px 4px;
    border-radius: 4px;
    background: #34495e;
    cursor: pointer;
}
.back-to-top a {
    color: {{ color_variant(footerColor1, -50) }};
}

/*  Follow Me Module */
.footer-follow-me{
    text-align: right;
    position: absolute;
    right: 50px;
}
.footer-copyright .footer-follow-me a {
    background: transparent;
    width: 32px;
    height: 32px;
    font-size: 25px;
    font-family: FontAwesome;
    padding: 0 8px;
    color: {{ socialAccent1 }};
}
.footer-copyright .footer-follow-me a:hover {
    color: {{ accentColor1 }};
}
.footer-follow-me a span {
    display: none !important;
}
.footer-follow-me a.fm_facebook:before {
    content: "\f082";
}
.footer-follow-me a.fm_twitter:before {
    content: "\f099";
}
.footer-follow-me a.fm_linkedin:before {
    content: "\f0e1";
}
.footer-follow-me a.fm_googlepluspages:before {
    content: "\f0d5";
}
.footer-follow-me a.fm_xing:before {
    content: "\f168";
}
.footer-follow-me a.fm_pinterest:before {
    content: "\f0d2";
}
.footer-follow-me a.fm_youtube:before {
    content: "\f167";
}
.footer-follow-me a.fm_rss:before {
    content: "\f09e";
}







/* ==========================================================================


   3. MAIN NAVIGATION                                            


   ========================================================================== */





/* ==========================================================================
   Custom Menu Primary
   ========================================================================== */


{% set ulColor       = "" %} /* Set ul background color */
{% set liColor       = "" %} /* Set li background Color */
{% set aColor        = "" %} /* Set link Color */
{% set aColorHover   = "" %} /* Set link Hover Color */

/* Parent List */
.custom-menu-primary .hs-menu-wrapper > ul{ 
    background:{{ ulColor }};
    padding-top: 10px;
    float: right;
    {{ transition("all .1s ease-in-out") }}
}
.custom-menu-primary .hs-menu-wrapper > ul > li{
    background:{{ liColor }}
    font-weight: normal;
    text-transform: uppercase;
    font-size: 14px;
    margin-right: 10px;
}
.custom-menu-primary .hs-menu-wrapper > ul > li > a{
    padding: 10px;
    position: relative;
    color: {{ accentColor1 }};
    display: block;
}
.custom-menu-primary .hs-menu-wrapper > ul > li > a:hover{
    color:{{ aColorHover }};
}

/* Child List */
.custom-menu-primary .hs-menu-wrapper > ul ul{
    left: 15px!important;
    background: #fff;
    padding: 10px 0px;
    border: 1px solid {{ accentColor2 }};
    border-radius: {{ borderRadius }};
    min-width: 150px;
}
.custom-menu-primary .hs-menu-wrapper > ul ul li:hover {
    background: {{ accentColor1 }};
}
.custom-menu-primary .hs-menu-wrapper > ul > li > ul:before {
    content: "\f0d8";
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
    color: #fff;
    position: absolute;
    top: -12px;
    left: 0;
    width: 100%;
    padding-left: 10px;
    text-shadow: 0px -1px 0px #ccc;
}
.custom-menu-primary .hs-menu-wrapper > ul ul li{
    background:{{ liColor }};
}
.custom-menu-primary .hs-menu-wrapper > ul ul li a{
    color:{{ aColor }};
    padding: 3px 10px;
}
.custom-menu-primary .hs-menu-wrapper > ul ul li a:hover{
    color: #FFF;
}

/* Override max width on menu links */
.custom-menu-primary .hs-menu-wrapper > ul li a, 
.hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children ul.hs-menu-children-wrapper li a {
    overflow: visible !important;
    max-width: none !important;
    width: auto !important;
}

/* Carret after Menu items with dropdown */
.hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children > a:after {
    content: "\f0d7";
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 7px;
    font-size: 13px;
}
.hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children:after  {
    border-top-color: {{ accentColor1 }};
}

/* Show menu and remove background color on desktop after toggling mobile menu */
@media screen and (min-width:769px) {
  .custom-menu-primary .hs-menu-wrapper { 
      display:block !important;
      background: transparent !important;
  }
}

/* Force header to trigger mobile layout on iPads */
@media (max-width: 768px){
  .header-container-wrapper .container-fluid  .row-fluid [class*="span"] {
    display: block;
    float: none !important;
    width: auto !important;
    margin-left: 0 !important;
  }
}




/* ==========================================================================
   Mobile Menu - Hubspot Standard Toggle Menu
   ========================================================================== */


/**
 * Special Note
 *
 * When the menu is open, a class of .mobile-open is applied to the body. You can 
 * use this for custom styling on any element when the menu is in the open position.                     
 */

.mobile-trigger, .child-trigger{
    display: none !important; /* Hide button on Desktop */
}

@media (max-width: 768px){


  /* Variables
     ========================================================================== */

  {% set menuColorMobile = "#000000" %}   /* Set Mobile Menu Background Color */
  {% set aColorMobile = "#ffffff" %}      /* Set Link Color */
  {% set aColorHoverMobile = "#ffffff" %} /* Set Link Hover Color */

  /* 
    * Menu Reset
    *
    * Remove styling from desktop version of custom-menu-primary. Place any 
    * additional CSS you want removed from the mobile menu in this reset 
    */

  .custom-menu-primary,
  .custom-menu-primary .hs-menu-wrapper > ul,
  .custom-menu-primary .hs-menu-wrapper > ul li,
  .custom-menu-primary .hs-menu-wrapper > ul li a{
    display: block;
    float: none;
    position: static;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    padding: 0px;
    margin: 0px;
    background-image: none;
    background-color: transparent;
    border: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow:    none;
    box-shadow:         none; 
    max-width: none;
    width: 100%;
    height: auto;
    line-height: 1;  
    font-weight: normal;
    text-decoration: none;
    text-indent: 0px;
    text-align: left;
    color:{{aColorMobile}};
  }


  /* Toggle Button
     ========================================================================== */

  .mobile-trigger{
    display: inline-block !important; /* Hide button on Desktop */
    cursor: pointer; /* Mouse pointer type on hover */
    position: absolute; /*******************************************/
    top: 32px;          /* Position Button at top right of screen  */
    right: 10px;        /*******************************************/
    width: auto; /* Button width */
    height: auto; /* Button height */      
    padding: 6px 12px;
    margin-top: -16px;
    z-index: 99999999999; /* Z-index to keep button on top of other layers */
    font-size: 16px;
    text-align: center;
    font-weight: normal;
    text-align: left;
    text-transform: uppercase;
  }
  .mobile-trigger:hover{
    text-decoration: none; /* Removes link text underline on button */
  }

  /* Change button when menu is open */
  .mobile-open .mobile-trigger{}


  /* Toggle Button Icon & Animations
     ========================================================================== */

  .mobile-trigger i{
    display: inline;
    position: relative;
    top: -5px;
  }
  .mobile-trigger i:before, .mobile-trigger i:after{
    position: absolute;
    content: '';
  }
  .mobile-trigger i, .mobile-trigger i:before, .mobile-trigger i:after{
    width: 25px; /* Icon line width */
    height: 2px; /* Icon line height */
    background-color: {{ aColorMobile }}; /* Icon color */
    display: inline-block;
  }
  .mobile-trigger i:before{
    margin-top: -6px; /* Position top line */
  }
  .mobile-trigger i:after{
    margin-top: 6px; /* Position bottom line */
  }


  /* Child Toggle Button
     ========================================================================== */

  .child-trigger{
    display: block !important; /* Hide button on Desktop */
    cursor: pointer; /* Mouse pointer type on hover */
    position: absolute;
    top: 0px;
    right: 0px;
    width: 55px !important; /* Button width */
    min-width: 55px !important;
    height: 45px !important; /* Button height */  
    padding: 0 !important;
    border-left: 1px dotted rgba(255, 255, 255, .20);
  }
  .child-trigger:hover{
    text-decoration: none;
  }


  /* Child Toggle Button Icon & Animations
     ========================================================================== */

  .child-trigger i{
    position: relative;
    top: 50%; /* Centers icon inside button */
    margin: 0 auto !important;
  }
  .child-trigger i:after{
    position: absolute;
    content: '';
  }
  .child-trigger i, .child-trigger i:after{
    width: 10px; /* Icon line width */
    height: 1px; /* Icon line height */
    background-color:{{ aColorMobile }}; /* Icon color */
    display: block;
  }
  .child-trigger i:after{
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  .child-trigger.child-open i:after{
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  .child-trigger.child-open i{
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }

    
  /* Menu Styles on Mobile Devices
     ========================================================================== */  

  /* Hide menu on mobile */
  .custom-menu-primary.js-enabled .hs-menu-wrapper,
  .custom-menu-primary.js-enabled .hs-menu-children-wrapper{
    display: none;
  }  

  /* Make child lists appear below parent items */
  .custom-menu-primary ul.hs-menu-children-wrapper{
    visibility: visible !important;
    opacity: 1 !important;
    position: static !important;
    display: none;
  }

  /* Mobile Menu Styles */
  .custom-menu-primary.js-enabled .hs-menu-wrapper{
    position: relative; /**************************************************************/
    top: 0;             /* Positions the menu to drop from the very top of the screen */
    left: 0px;          /**************************************************************/                                              
    width: 100%;   
    {{ boxshadow("0 0 4px rgba(0, 0, 0, 0.5)") }}
  }
  .custom-menu-primary .hs-menu-wrapper{
    padding: 0 0 0 0;
    width: 100%; /* Full screen width */
    z-index: 8888;
  }

   /* Level 1 Menu List Styles */
   .custom-menu-primary .hs-menu-wrapper > ul {
    background: {{ accentColor1 }};
   }
  .custom-menu-primary .hs-menu-wrapper > ul > li{
    position: relative;
  }
  .custom-menu-primary .hs-menu-wrapper > ul > li a{
    font-size: 22px; /* Font size of top level list items */
    line-height: 45px;
    overflow: visible;
  }

  /* Level 1 and Higher Menu List Styles */
  .custom-menu-primary .hs-menu-wrapper > ul li{
    border-top: 1px dotted rgba(255, 255, 255, .35); /* Adds transparent dark highlights to top of top level list items */
  }
  
  .custom-menu-primary .hs-menu-wrapper >  ul li a{
    padding: 0 10px;
    color:{{ aColorMobile }} !important; /* link color set by global mobile-aColor variable */
  }
  .custom-menu-primary .hs-menu-wrapper > ul li a:hover{
    color:{{ aColorHoverMobile }} !important; /* link hover color set by global mobile-aColorHover variable */
  }
  .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children > a:after {
      display: none;
  }

  /* Level 2 and Higher Menu List Styles */
  .custom-menu-primary .hs-menu-wrapper > ul ul{
    background: transparent;  
    border: 0px;
    padding: 0px;
  }
  .custom-menu-primary .hs-menu-wrapper > ul ul li{
    background-color: rgba(255, 255, 255, .08);
  }
  .custom-menu-primary .hs-menu-wrapper > ul ul li a{
    text-indent: 10px; /* Indent Child lists */
    font-size: 16px; /* Font size of child lists */
  }
  .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children:after{
      display: none;
  }
  .custom-menu-primary .hs-menu-wrapper>ul>li>ul:before {
      display: none;
  }

  /* Level 3 and Higher Menu List Styles */
  .custom-menu-primary .hs-menu-wrapper > ul ul ul li a{
    text-indent: 30px; /* Indent Child lists */
  }
  .custom-menu-primary .hs-menu-wrapper > ul ul ul ul li a{
    text-indent: 50px; /* Indent Child lists */
  }

}


/* ==========================================================================


   4. TEMPLATE MODULE SELECTORS                                         


   ========================================================================== */




/* Common Template Selectors                                             
   ========================================================================== */

body.one-column {}
body.two-column {}
body.three-column {}
.content-wrapper {}
.main-content {}
.sidebar{}
.blog-sidebar ul, .sidebar ul{
    padding-left: 10px;
    list-style: none;
}

.sidebar.right{}
.sidebar.left{}

/* Common One Column Selectors */
body.site-page.one-column, 
body.landing-page.one-column, 
body.error-template.one-column, 
body.password-template.one-column, 
body.subscription-template.one-column {}

body.site-page.one-column .main-content, 
body.landing-page.one-column .main-content, 
body.error-template .main-content, 
body.password-template .main-content, 
body.subscription-template .main-content {}

/* Common Two Column Selectors */
body.site-page.two-column, 
body.landing-page.two-column, 
body.blog {}  

body.site-page.two-column .main-content, 
body.landing-page.two-column .main-content, 
body.blog .blog-content {}

/* Common Three Column Selectors */
body.site-page.three-column, 
body.landing-page.three-column {}

body.site-page.three-column .main-content, 
body.landing-page.three-column .main-content {}


/* Site Pages                                            
   ========================================================================== */

/* One Column Template */
body.site-page.one-column {}
body.site-page.one-column .content-wrapper {}
body.site-page.one-column .main-content {}

/* Two Column Template */
body.site-page.two-column {}
body.site-page.two-column .content-wrapper {}
body.site-page.two-column .main-content {}
body.site-page.two-column .sidebar.right {}

/* Three Column Template */
body.site-page.three-column {}
body.site-page.three-column .content-wrapper {}
body.site-page.three-column .main-content {}


/* Landing Pages                                           
   ========================================================================== */

/* One Column Template */
body.landing-page.one-column {}
body.landing-page.one-column .content-wrapper {}
body.landing-page.one-column .main-content {}

/* Two Column Template */
body.landing-page.two-column {}
body.landing-page.two-column .content-wrapper {}
body.landing-page.two-column .main-content {}
body.landing-page.two-column .sidebar.right {}

/* Three Column Template */
body.landing-page.three-column {}
body.landing-page.three-column .content-wrapper {}
body.landing-page.three-column .main-content {}


/* System Pages                                          
   ========================================================================== */

/* Error Templates 404, 500 */
body.error-template.one-column {}
body.error-template.one-column .content-wrapper {}
body.error-template.one-column .main-content {}

/* Password template */
body.password-template.one-column {}
body.password-template.one-column .content-wrapper {}
body.password-template.one-column .main-content {}
body.password-template form input {
    margin-bottom: 10px;
}

/* Email Subscribition templates */
body.subscription-template.one-column {}
body.subscription-template.one-column .content-wrapper {}
body.subscription-template.one-column .main-content {}








/* ==========================================================================


   5. COS COMPONENTS                                        


   ========================================================================== */





/* ==========================================================================
   Blog                                         
   ========================================================================== */


/* Blog Post and Listing Body Class */
body.blog {}

/* Blog Post */
body.hs-blog-post {}

/* Blog Listing */
body.hs-blog-listing {}

/* Blog Columns Wrapper */
.blog .content-wrapper {}


/* Blog Content Column
   ========================================================================== */

.blog .blog-content {}

/* Use this to style the main wrapper for the blog listing pages */
.blog-listing-wrapper {}

/* Use this to style the main wrapper for the blog post pages */
.blog-post-wrapper {}

/* Blog Title */
.hs-blog-header h1 a{}

/* Blog Post Title */
.post-header h2  {
    margin-bottom: 0;
}

.post-header p{
    font-size: 13px;
}
/* Blog Author and Avatar */
#hubspot-author_data {
    float: left;
}
#hubspot-author_data a.author-link {}
.hs-author-avatar {}
.hs-author-avatar img {}

p.custom_listing_comments{
    float: right;
}

.hs-blog-social-share{
    float: left;
}

/* Use this to set up different styling for your blog posts */
.blog-listing-wrapper .post-listing .post-item {
    padding-bottom: 60px;
}
.blog-listing-wrapper .post-listing .post-item .post-body {}
.blog-post-wrapper .post-body {}

/* Post Featured Image on Listings Page */
.hs-featured-image-wrapper {}
.hs-featured-image-wrapper .hs-featured-image-link { display: block; }
.hs-featured-image-wrapper .hs-featured-image-link img.hs-featured-image{
    border-width: 0;
    max-height: 300px;
    max-width: 100%;
    display: inline-block !important;
    float: none!important;
    margin: 10px 0px 10px 0px;
}

/* Read More Link */
a.more-link {}

/* Blog Topics List */
#hubspot-topic_data {}
#hubspot-topic_data a.topic-link {}

/** 
 * Blog Social Sharing icons
 *
 * Overrides defaults to better align icons and prevent overlapping 
 */
.social-sharing-wrapper {
    clear: both;
}
.hs-blog-social-share {
    padding: 10px 0 0 0;
    height: auto;
}


/** 
 * Blog Commments 
 *
 * Custom styles are listed below, as the COS does not provide default styles.
 */

#comments-listing {
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
    margin-top: 30px;
}
.comment {
    margin: 10px 0;
    border-top: 1px solid #ccc;
    padding: 15px 0;
}
.comment-date { font-size: 13px; text-align: right; }
.comment-from { font-weight: bold; }
.comment-body { padding: 10px 0; }

/* Pagination */
.blog-pagination {
    text-align: center;
}
.blog-pagination .previous-posts-link {
    float: left;
}
.blog-pagination .all-posts-link {}
.blog-pagination .next-posts-link {
    float: right;
}

/* Blog Author Page */
.hs-author-social-label {
    display: inline-block;
    margin-right: 8px;
    font-weight: bold;
    vertical-align: middle;
}
.hs-author-social-links a.hs-author-social-link {
    font-size: 30px;
    display: inline-block;
    padding-right: 5px !important;
    background: none !important;
    vertical-align: middle;
}



/* Blog Sidebar
   ========================================================================== */

.blog .blog-sidebar {}

.blog-sidebar-filter-list li {
    padding: 2px 0;
}

/* Blog Modules */

.blog .blog-sidebar .widget-span {
    padding: 0px 0px 40px 0px;
}


/* ==========================================================================
   Forms
   ========================================================================== */


/* All Global Forms
   ========================================================================== */

/* Form Field */
body .hs-form-field { margin-bottom: 15px; }

/* Descriptions */
body .hs-field-desc {}

/* Labels */
body label {
    margin-bottom: 5px;
    font-weight: 700;
}
body .hs-form-field > label {}

/* One Line Inputs */
body input[type="text"],
body input[type="password"], 
body input[type="datetime"], 
body input[type="datetime-local"], 
body input[type="date"], 
body input[type="month"], 
body input[type="time"], 
body input[type="week"], 
body input[type="number"], 
body input[type="email"], 
body input[type="url"], 
body input[type="search"], 
body input[type="tel"], 
body input[type="color"],
body input[type="file"],
body textarea,
body select {
    width: 100%;
    font-family: {{ baseFontFamily }};
    font-size: {{ baseFontSize }};
    display: block;
    height: 34px;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: {{ borderRadius }};
    {{ boxshadow("inset 0 1px 1px rgba(0,0,0,.075)") }}
    {{ transition("border-color ease-in-out .15s,box-shadow ease-in-out .15s") }}
}

body input[type="text"]:focus,
body input[type="password"]:focus, 
body input[type="datetime"]:focus, 
body input[type="datetime-local"]:focus, 
body input[type="date"]:focus, 
body input[type="month"]:focus, 
body input[type="time"]:focus, 
body input[type="week"]:focus, 
body input[type="number"]:focus, 
body input[type="email"]:focus, 
body input[type="url"]:focus, 
body input[type="search"]:focus, 
body input[type="tel"]:focus, 
body input[type="color"]:focus,
body input[type="file"]:focus,
body textarea:focus,
body select:focus {
    outline: 0;
    border-color: {{ accentColor1 }};
    {{ boxshadow("inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0,0,0,.6)") }}
}

/* Separate Styles for Multiple Line Inputs */
body textarea {
    min-height: 200px;
}
body textarea:focus {}

/* Separate Styles for Drop Downs */
body select {}
body select:focus {}

/* Multiple Selection Inputs */
body form.hs-form .hs-form-field ul.inputs-list {
  list-style: none;
  padding: 0;
}
body form.hs-form .hs-form-field ul.inputs-list li input {}
body input[type="radio"] {}
body input[type="checkbox"] {}

/* Required */
body input:focus:required:invalid, 
body textarea:focus:required:invalid, 
body select:focus:required:invalid {}

body input:focus:required:invalid:focus, 
body textarea:focus:required:invalid:focus, 
body select:focus:required:invalid:focus {}

/* Placeholder Text */
::-webkit-input-placeholder { /* Webkit Browsers */
   /* color: #555;
   opacity: 1; */
}
:-moz-placeholder { /* Firefox 18- */
   /* color: #555;
   opacity: 1; */
}
::-moz-placeholder { /* Firefox 19+ */
   /* color: #555;
   opacity: 1; */
}
:-ms-input-placeholder { /* IE10 */
   /* color: #555;
   opacity: 1; */
}


/* Form Module
   ========================================================================== */

/* Form Field */
.hs_cos_wrapper_type_form .hs-form-field {}

/* Descriptions */
.hs_cos_wrapper_type_form .hs-field-desc {}

/* Labels */
.hs_cos_wrapper_type_form label {}
.hs_cos_wrapper_type_form .hs-form-field > label {}

/* One Line Inputs */
.hs_cos_wrapper_type_form input[type="text"],
.hs_cos_wrapper_type_form input[type="password"], 
.hs_cos_wrapper_type_form input[type="datetime"], 
.hs_cos_wrapper_type_form input[type="datetime-local"], 
.hs_cos_wrapper_type_form input[type="date"], 
.hs_cos_wrapper_type_form input[type="month"], 
.hs_cos_wrapper_type_form input[type="time"], 
.hs_cos_wrapper_type_form input[type="week"], 
.hs_cos_wrapper_type_form input[type="number"], 
.hs_cos_wrapper_type_form input[type="email"], 
.hs_cos_wrapper_type_form input[type="url"], 
.hs_cos_wrapper_type_form input[type="search"], 
.hs_cos_wrapper_type_form input[type="tel"], 
.hs_cos_wrapper_type_form input[type="color"],
.hs_cos_wrapper_type_form input[type="file"],
.hs_cos_wrapper_type_form textarea,
.hs_cos_wrapper_type_form select {}

.hs_cos_wrapper_type_form input[type="text"]:focus,
.hs_cos_wrapper_type_form input[type="password"]:focus, 
.hs_cos_wrapper_type_form input[type="datetime"]:focus, 
.hs_cos_wrapper_type_form input[type="datetime-local"]:focus, 
.hs_cos_wrapper_type_form input[type="date"]:focus, 
.hs_cos_wrapper_type_form input[type="month"]:focus, 
.hs_cos_wrapper_type_form input[type="time"]:focus, 
.hs_cos_wrapper_type_form input[type="week"]:focus, 
.hs_cos_wrapper_type_form input[type="number"]:focus, 
.hs_cos_wrapper_type_form input[type="email"]:focus, 
.hs_cos_wrapper_type_form input[type="url"]:focus, 
.hs_cos_wrapper_type_form input[type="search"]:focus, 
.hs_cos_wrapper_type_form input[type="tel"]:focus, 
.hs_cos_wrapper_type_form input[type="color"]:focus,
.hs_cos_wrapper_type_form input[type="file"]:focus,
.hs_cos_wrapper_type_form textarea:focus,
.hs_cos_wrapper_type_form select:focus {}

/* Separate Styles for Multiple Line Inputs */
.hs_cos_wrapper_type_form textarea {}
.hs_cos_wrapper_type_form textarea:focus {}

/* Separate Styles for Drop Downs */
.hs_cos_wrapper_type_form select {}
.hs_cos_wrapper_type_form select:focus {}

/* Multiple Selection Inputs */
.hs_cos_wrapper_type_form form.hs-form .hs-form-field ul.inputs-list li input {}
.hs_cos_wrapper_type_form input[type="radio"] {}
.hs_cos_wrapper_type_form input[type="checkbox"] {}


/* Blog Comment Form
   ========================================================================== */

/* Label */
#comment-form .hs-form-field > label {}
#comment-form label {}

/* Inputs */
#comment-form input[type="text"] {
    display: inline-block;
}
#comment-form input[type="text"]:focus {}

#comment-form textarea {}
#comment-form textarea:focus {}

#comment-form input[type="checkbox"] {}

/* Error */
body .hs-common-error-message {}


/* Blog Subscription Form
   ========================================================================== */

/* Label */
#hs_form_target_blog_subscription .hs-form-field > label {}
#hs_form_target_blog_subscription label {}

/* Inputs */
#hs_form_target_blog_subscription input[type="email"], .widget-type-blog_subscribe input[type="email"]{
    width: 100%;
    float: left;
    height: 36px;
    margin-bottom: 10px;
}
.blog-sidebar #hs_form_target_blog_subscription input[type="email"] {}

#hs_form_target_blog_subscription input[type="email"]:focus {}

#hs_form_target_blog_subscription input[type="radio"] {}


/* Google Search Form
   ========================================================================== */

/* Label */
.widget-type-google_search label {
    font-size: 24px;
    font-weight: 700;
    font-family: 'Montserrat',sans-serif;
    display: block;
    text-rendering: optimizelegibility;
    margin: 0px 0px 20px;
}

/* Input */
.widget-type-google_search input[type="text"] {
    width: 60%;
    float: left;
    margin-top: 0px;
    height: 36px;
}
.widget-type-google_search input[type="focus"] {}

.widget-type-google_search .hs-button.primary {
    float: left;
    margin-left: 2px;
}

/* Multi Column Form
   ========================================================================== */

body .hs-form fieldset.form-columns-1 {}
body .hs-form fieldset.form-columns-1 .hs-form-field {}

body .hs-form fieldset.form-columns-2 {}
body .hs-form fieldset.form-columns-2 .hs-form-field {}

body .hs-form fieldset.form-columns-3 {}
body .hs-form fieldset.form-columns-3 .hs-form-field {}

/* Multiple Selection Inputs */
body form.hs-form .hs-form-field ul.inputs-list li input {}
body input[type="radio"] {}
body input[type="checkbox"] {}
body form.hs-form fieldset { max-width: none; }
body form.hs-form fieldset .hs-form-field { padding: 0 10px 0 0; }
body form.hs-form fieldset[class*="form-columns"] .input { margin-right: 0; }
body form.hs-form fieldset[class*="form-columns"] .hs-input { width: 100%; }
body form.hs-form fieldset[class*="form-columns"] .hs-input[type="checkbox"] { width: auto; }
body form.hs-form fieldset.form-columns-3 .hs-form-field { width: 33.33%; }

@media (max-width: 400px) {
  body form.hs-form fieldset .hs-form-field { padding: 0; }
  body form.hs-form fieldset.form-columns-3 .hs-form-field,
  body form.hs-form .form-columns-2 .hs-form-field .hs-input, 
  body form.hs-form .form-columns-3 .hs-form-field .hs-input { width: 100%; }
  body form.hs-form .form-columns-3 .hs-form-field .hs-input[type="checkbox"] { width: auto; }
}

/* Form Error Selectors
   ========================================================================== */
.hsformerror{
    font-size: 12px!important;
    border: 0 !important;
    color: #FFF!important;
    background-image: none!important;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
    z-index: 99999 !important;
    border-color: {{ accentColor1 }} !important;
    background: {{ accentColor1 }} !important;
    -webkit-transform: none !important;
    transform: none !important;
}
.hsformerror .close-form-error {
    color: {{ accentColor1 }};
}
.hsformerror em {
    border-color: {{ accentColor1 }} transparent transparent !important;
}




/* ==========================================================================
   Buttons                                              
   ========================================================================== */


/* All Global Buttons (Excluding CTAs)
   ========================================================================== */

body .hs-button.primary,
body input[type="submit"],
body input[type="button"] {
    background: #fff;
    border-style: solid;
    border-width: 2px;
    {{ transition("all 0.4s ease-in-out") }}
    font-family: {{ webfont1 }};
    padding: 8px 16px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: {{ borderRadius }};
    {{ userselect("none") }}
    text-decoration: none;
    color: {{ accentColor1 }};
    border-color: {{ accentColor1 }};
    -webkit-appearance: none;
}

body .hs-button.primary:hover,
body input[type="submit"]:hover,
body input[type="button"]:hover {
    border: 2px solid #FFF;
    border-color: {{ accentColor1 }};
    background: {{ accentColor1 }};
    color: #FFF;
}

body .hs-button.primary:focus,
body input[type="submit"]:focus,
body input[type="button"]:focus {}


/* Form Module Button
   ========================================================================== */

.hs_cos_wrapper_type_form .hs-button.primary.large {}
.hs_cos_wrapper_type_form .hs-button.primary.large:hover {}
.hs_cos_wrapper_type_form .hs-button.primary.large:focus {}


/* Blog Comment Button
   ========================================================================== */
#add-comment-button.hs-button.primary {}
#add-comment-button.hs-button.primary:hover {}
#add-comment-button.hs-button.primary:focus {}

/* Blog comment "reply to" section */
.comment-reply-to{
    color: {{ baseColor }}!important;
    background: none!important;
    padding-left: 0px!important;
}
.comment-reply-to:before{
    content: "\f112";
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 7px;
    font-size: 15px;
    color: {{ accentColor1 }};
    vertical-align: top;
}
/* Blog Subscription Button
   ========================================================================== */
#hs_form_target_blog_subscription .hs-button.primary.large {}
#hs_form_target_blog_subscription .hs-button.primary.large:hover {}
#hs_form_target_blog_subscription .hs-button.primary.large:focus {}


/* Google Search Button
   ========================================================================== */
.widget-type-google_search .hs-button.primary {}
.widget-type-google_search .hs-button.primary:hover {}
.widget-type-google_search .hs-button.primary:focus {}


/* CTA Buttons
   ========================================================================== */

/** 
 * Override global CTA styles by wrapping the CTA module in a module group 
 * that has an ID, and use that ID to prefix your CTA selector. Example shown below.
 *
 * All overriding properties require !important tags. 
*/

/* CTA button with border */
.cta_border_button {
    background: #fff;
    border-style: solid;
    border-width: 2px;
    {{ transition("all 0.4s ease-in-out") }}
    font-family: {{ webfont1 }};
    padding: 8px 16px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: {{ borderRadius }};
    {{ userselect("none") }}
    text-decoration: none;
    color: {{ accentColor1 }};
    border-color: {{ accentColor1 }};
    -webkit-appearance: none;
}
.cta_border_button:hover {
    border: 2px solid #FFF;
    color: {{ accentColor1 }};
    border-color: {{ accentColor1 }};
    background: {{ accentColor1 }};
    color: #FFF;
}

/* CTA button with Solid Background */
.cta_solid_button {
    border-style: solid;
    border-width: 2px;
    color: #FFF;
    {{ transition("all 0.4s ease-in-out") }}
    font-family: {{ webfont1 }};
    padding: 8px 16px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: {{ borderRadius }};
    {{ userselect("none") }}
    text-decoration: none;
    text-transform: uppercase;
    border-color: {{ accentColor1 }};
    -webkit-appearance: none;
}
.cta_solid_button:hover {
    background: #FFF;
    border-style: solid;
    border-width: 2px;
    border-color: {{ accentColor1 }};
    background: {{ accentColor1 }};
    text-transform: uppercase;
}








/* ==========================================================================


   6. MISCELLANOUS                                        


   ========================================================================== */





/** 
 * Styles that do not fit into available sections above can go here.
 * For example, one would place 3rd party plugin overriding styles here.
 *
 * This section is NOT for 'Custom' styles.  All custom styles must go in the
 * proper sections above.
 *
 * For instance, custom header and footer styles must go in the HEADER and 
 * FOOTER sections.  Custom styles for anything in-between the header and footer 
 * (such as, styles that are unique to the HOMEPAGE only), must go in the 
 * CONTENT section.
*/ 








/* ==========================================================================


   7. MOBILE MEDIA QUERIES                              


   ========================================================================== */



   

/* Screen sizes smaller than site maxWidth (.page-center)
   ========================================================================== */

@media (max-width: {{maxWidth}}) {
    .container-fluid .row-fluid .page-center {
        padding: 10px;    
    }
    .container-fluid .footer-copyright .row-fluid .page-center {
        padding: 0 10px;
    }
}


/* Landscape tablet and smaller devices
   ========================================================================== */

@media (max-width: 768px) {
    .header-container-wrapper{
        position: relative;
    }
    
    .header-container{
        padding: 0;
    }
    
    .header-container-wrapper .container-fluid .row-fluid .page-center{
        padding: 0;
    }
    
    .header-container .hs_cos_wrapper_type_logo a img {
        max-width: 200px;
        margin: 5px 0 5px 10px;
    }
    
    .row-fluid [class*="span"].header-cta{
        display: none !important;
    }
    
    /* General */
    .body-container-wrapper {
        padding-top: 0;
    }
    .padding40tb {
        padding: 25px 0;
    }
    .sidebar.right,
    .main-content,
    .blog-sidebar {
        margin: 25px 0;
    }
    
    /* Team Member Social */
    .three-column .team-member-social a {
        display: inline-block;
    }
    .three-column .team-member-social i {
        padding-right: 5px;
    }   
    .three-column .team-member-social a:last-child i {
        padding-right: 0;
    }
    .team-member-name,
    .team-member-title {
        text-align: center;
    }
    
    /* Footer */
    .footer-container-wrapper .more-links a i {
        display: inline-block;
        width: auto;
    }
    .footer-container .about-us,
    .footer-container .more-links {
        margin-bottom: 25px;
    }
    .footer-copyright .copyright-text {
        text-align: center;
    }
    .footer-follow-me{
        text-align: center;
        position: relative;
        right: auto;
    }
    
    /* Homepage */
    .service-group h4,
    .service-group-icon,
    #offer-background-image h1,
    #banner-background-image {
        text-align: center !important;
    }
    .homepage .subscribe-form {
        padding-top: 10px;
        position: relative;
    }
    .homepage .subscribe-form form {
        float: none;
    }
    .homepage .subscribe-form .hs_email {
        width: 100%;
        margin-bottom: 10px;
    }
    #banner-background-image {
        min-height: 650px;
    }
    #banner-background-image h1 {
        font-size: 32px;
        margin-bottom: 15px;
        margin-top: 55px;
    }
    #banner-background-image h3 {
        display: none;
    }
    .homepage .subscribe-form {
        width: 100%;
    }
    .social-tagline {
        text-align: center;
        margin-bottom: 15px;
    }
    .homepage .subscribe-form {
        padding-bottom: 150px;
    }
    .homepage .subscribe-form .hs_email .hs-error-msgs {
        position: relative;
        margin-top: 0;
        display: inline-block !important;
    }
    .homepage .subscribe-form .hs_submit {
        display: block;
        position: relative;
        width: 100%;
    }
    
    /* Blog */
    #comment-form {
        margin-bottom: 25px;
    }
}
     

/* Landscape phones and smaller devices
   ========================================================================== */

@media (max-width: 479px) {}
